<section>
    <div class="container-fluid border p-3" style="
 
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: white;
">

        <div style="text-align: right;">
            <button class="btn btn-primary mb-3" onclick="window.print()">Print
                Instructions</button>
        </div>
        <div style="padding: 5px 2% 20px 2%; text-align: left;">
        <h2 style="text-align: center;">Instructions</h2>
        <ul type="none" style="text-align: left;">
            <li><strong>Applicants will have to pursue 3 steps for completing the
                    Registration
                    Process:</strong>
                <ul type="none">
                    <li><strong>Step 1:</strong> XML generation in Offline Utility
                    </li>
                    <li><strong>Step 2:</strong> Tasks to be completed at <a
                            href="https://haryanatax.gov.in"
                            target="_blank">haryanatax.gov.in</a>
                    </li>
                    <li><strong>Step 3:</strong> Tasks to be performed at FCO</li>
                </ul>
            </li>

            <li><strong>Step 1: XML generation in Offline Utility</strong>
                <ol>
                    <li>Applicants are required to fill details in the main form and
                        the
                        related
                        annexures.</li>
                    <li>Every form has a "Validate" button at the bottom. Users must
                        validate
                        each
                        form to confirm all mandatory fields are completed.</li>
                    <li>Wherever multiple items are to be saved, there is a
                        provision of
                        a
                        table.
                        <ul type="none" style="text-align: left;">
                            <li>To populate details in the table, enter values in
                                fields
                                below
                                the
                                table and click on "Save".</li>
                        </ul>
                    </li>
                    <li>"View/Edit" can be clicked to view and edit saved
                        information.
                    </li>
                    <li>"View/Edit" buttons are available next to each Name in
                        Annexure
                        I & V
                        tables. Use these to view and fill respective annexures per
                        applicant/person.</li>
                    <li>To remove a name from Annexure I/V, delete the corresponding
                        entry in
                        the
                        table at serial number 22/23 of Form VAT AT.</li>
                    <li>The form can be filled with or without Digital Signatures.
                    </li>
                    <li>Digital Signatures can be used partially (for some
                        applicants
                        only).
                    </li>
                    <li>Once all annexures and forms are filled, click "Validate and
                        Generate
                        XML"
                        to generate the final XML.</li>
                </ol>
            </li>

            <li><strong>Step 2: Tasks to be completed at haryanatax.gov.in</strong>
                <ol start="10">
                    <li>Applicants are required to:
                        <ol type="a">
                            <li>Create a Temporary User Account</li>
                            <li>Upload the XML</li>
                            <li>Pay Registration Fees under HVAT Act, 2003 & CST
                                Act,
                                1956 at <a href="https://egrashry.nic.in"
                                    target="_blank">https://egrashry.nic.in</a></li>

                            <ul type="none" style="text-align: left;">
                                <li><strong>STEP 1:</strong><br>
                                    The applicants will generate challan from the
                                    above
                                    site
                                    <br>Printout of such challan will be carried by
                                    the
                                    applicant to
                                    the concerned bank/treasury
                                    <br>Payment for Registration fee will be
                                    accepted
                                    the bank
                                    before expiry of the challan
                                    <br>The bank will issue a CIN and CIN date for
                                    payment
                                    receipt
                                </li>
                                <li><strong>STEP 2:</strong><br>
                                    The applicants will re login into the temporary
                                    account
                                    <br>The applicants will then update GRN, GRN
                                    Date,
                                    CIN, CIN
                                    date, Bank name
                                </li>
                            </ul>
                            <li>(Optional) Upload Documents</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ul>

        <ul type="none" style="text-align: left;">
            <li>
                <ol start="11">
                    <li>Once all tasks are completed, the applicant will be able to
                        preview the
                        Application
                        Form.
                    <li>Printouts of application forms will be available post
                        submission
                        at <a href="https://www.haryanatax.gov.in"
                            target="_blank">www.haryanatax.gov.in</a>
                    <li>The applicants will be required to submit signed copy of the
                        printout of
                        application
                        forms and mandatory documents within 7 days to the Excise &
                        Taxation
                        Department,
                        Haryana through the Facilitation Centre Operator (FCO) of
                        the
                        concerned
                        district.
                        <br>
                        Please note, in case the printout of the Application forms
                        and/or signed
                        copies
                        of
                        Mandatory documents are not submitted to the FCO within 7
                        days,
                        the form
                        will be
                        automatically scrapped.
                        <br>
                        In such scenario, all information submitted by the applicant
                        will become
                        void
                        including Registration fees paid. The applicant will have to
                        perform all
                        actions
                        again including fresh payment of Registration Fees.
                    <li>In case the XML uploaded and the documents uploaded are
                        endorsed
                        by
                        Digital
                        Signature, then the form will be submitted through temporary
                        login and
                        Application
                        No.
                        <br>
                        Scanned copy of duly signed printout of CST form A is
                        mandatory
                        to be
                        uploaded
                        in
                        this cate which should be endorsed by Digital Signature

                </ol>
        </ul>
        <ul type="none" style="text-align: left;">
            <li><strong>STEP 3: Tasks to be performed at FCO</strong><br>
                <ol start="15">
                    <li>Duly Signed Printouts of Application Forms (including VAT
                        A1,
                        its
                        Annexures
                        &
                        CST forms A) are required to be submitted to the FCO.
                    <li>All persons mentioned in table appearing at serial number 11
                        of
                        CST Form
                        A
                        are
                        also required to provide their signatures (duty attested by
                        witnesses)
                        on
                        the
                        printout of CST Form A.
                    <li>Applicants/Authorized persons who have not attached digital
                        signatures
                        in
                        the
                        XML are required to provide their signatures on the printout
                        of
                        the
                        Application
                        forms including Annexures.
                    <li>Applicants/Authorized Persons who have not attached digital
                        singatures
                        in
                        the
                        XML are required to provide their singatures on the printout
                        of
                        the
                </ol>
            <li><strong>Documents</strong>
                <ol start="19">
                    <li>The applicants will be required to submit signed copies of
                        doomments to
                        the
                        FCO along with Application Forms.</li>
                    <li>The FCO will upload documents which have not been uploaded
                        by
                        the
                        applicant.
                    </li>
                </ol>
            <li><strong>Acknowledgement</strong>
                <ol start="21">
                    <li>Once the FCO uploads pending documents and verifies that
                        documents
                        submitted
                        are corred He will nur an acknowledgement receipt containing
                        application
                        number</li>
                    <li>The Application for Registration will the considered to be
                        submitted to
                        Excise & Taxation Department, Haryana on the date and time
                        the
                        acknowledgement numbers</li>
                </ol>
        </ul>
        </div>
    </div>
</section>