<section>
    <div class="container-fluid">
    <fieldset class="border p-3">
        <legend class="w-auto px-2 fw-bold" style="text-align: center;">Annexure III
        </legend>

        <div
            style="background-color: #e0eefa; color: #000; padding: 8px; border-radius: 5px;">
            &mdash; Click on the <strong>"View/Edit"</strong> The list of Goods
            required
            to be
            purchased at concessional rate of tax under sub-section (4) of section 7
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="annexureNotApplicable">
            <label class="form-check-label" for="annexureNotApplicable">Tick if
                Annexure
                Not
                Applicable</label>
        </div>

        <!-- Section 1 -->
        <div class="border p-3 mb-4 bg-light">
            <h6 class="bg-primary text-white p-2 rounded">1. For use in manufacture
                of
                goods for
                sale.</h6>

            <div class="table-responsive mb-2">
                <table class="table table-bordered table-sm text-center align-middle">
                    <thead class="table-primary">
                        <tr>
                            <th>Select</th>
                            <th>View / Edit</th>
                            <th>Sr. No.</th>
                            <th>Name and Description of Goods/Commodity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">No content in table</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row g-2 mb-3">
                <div class="col-md-6 d-flex align-items-center">
                    <label class="form-label me-2 mb-0" style="white-space: nowrap;">Name
                        and
                        Description of Goods/Commodity</label>
                    <select class="form-select form-select-sm flex-grow-1">
                        <option selected disabled>Select</option>
                        <option>ATF (Aviation Turbine Fuel)</option>
                        <option>Diesel</option>
                        <option>Liquor Fit For Human Consumption</option>
                        <option>Natural Gases</option>
                        <option>Petrol</option>
                        <option>Petroleum Crude</option>
                    </select>
                </div>
            </div>


            <div class="row g-2 mb-3 justify-content-center">
                <div class="col-auto text-center">
                    <button type="button" class="btn btn-primary me-2">Save</button>
                    <button type="button" class="btn btn-secondary me-2">Clear</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="border p-3 mb-4 bg-light">
            <h6 class="bg-primary text-white p-2 rounded">2. For use in
                telecommunication
                network.
            </h6>

            <div class="table-responsive mb-2">
                <table class="table table-bordered table-sm text-center align-middle">
                    <thead class="table-primary">
                        <tr>
                            <th>Select</th>
                            <th>View / Edit</th>
                            <th>Sr. No.</th>
                            <th>Name and Description of Goods/Commodity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">No content in table</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row g-2 mb-3">
                <div class="col-md-6 d-flex align-items-center">
                    <label class="form-label me-2 mb-0" style="white-space: nowrap;">Name
                        and
                        Description of Goods/Commodity</label>
                    <select class="form-select form-select-sm flex-grow-1">
                        <option selected disabled>Select</option>
                        <option>ATF (Aviation Turbine Fuel)</option>
                        <option>Diesel</option>
                        <option>Liquor Fit For Human Consumption</option>
                        <option>Natural Gases</option>
                        <option>Petrol</option>
                        <option>Petroleum Crude</option>
                    </select>
                </div>
            </div>


            <div class="row g-2 mb-3 justify-content-center">
                <div class="col-auto text-center">
                    <button type="button" class="btn btn-primary me-2 ">Save</button>
                    <button type="button" class="btn btn-secondary me-2 ">Clear</button>
                    <button type="button" class="btn btn-danger me-2 ">Delete</button>
                </div>
            </div>
        </div>

        <!-- Section 3 -->
        <div class="border p-3 bg-light">
            <h6 class="bg-primary text-white p-2 rounded">3. For use in mining.</h6>

            <div class="table-responsive mb-2">
                <table class="table table-bordered table-sm text-center align-middle">
                    <thead class="table-primary">
                        <tr>
                            <th>Select</th>
                            <th>View / Edit</th>
                            <th>Sr. No.</th>
                            <th>Name and Description of Goods/Commodity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">No content in table</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row g-2 mb-3">
                <div class="col-md-6 d-flex align-items-center">
                    <label class="form-label me-2 mb-0" style="white-space: nowrap;">Name
                        and
                        Description of Goods/Commodity</label>
                    <select class="form-select form-select-sm flex-grow-1">
                        <option selected disabled>Select</option>
                        <option>ATF (Aviation Turbine Fuel)</option>
                        <option>Diesel</option>
                        <option>Liquor Fit For Human Consumption</option>
                        <option>Natural Gases</option>
                        <option>Petrol</option>
                        <option>Petroleum Crude</option>
                    </select>
                </div>
            </div>


            <div class="row g-2 mb-3 justify-content-center">
                <div class="col-auto text-center">
                    <button type="button" class="btn btn-primary me-2">Save</button>
                    <button type="button" class="btn btn-secondary me-2 ">Clear</button>
                    <button type="button" class="btn btn-danger  ">Delete</button>
                </div>
            </div>
        </div>

        <!-- Section 4 -->
        <div class="border p-3 bg-light">
            <h6 class="bg-primary text-white p-2 rounded">3. For use in generation
                and
                distribution
                of electricity or any other form of power.</h6>

            <div class="table-responsive mb-2">
                <table class="table table-bordered table-sm text-center align-middle">
                    <thead class="table-primary">
                        <tr>
                            <th>Select</th>
                            <th>View / Edit</th>
                            <th>Sr. No.</th>
                            <th>Name and Description of Goods/Commodity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">No content in table</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row g-2 mb-3">
                <div class="col-md-6 d-flex align-items-center">
                    <label class="form-label me-2 mb-0" style="white-space: nowrap;">Name
                        and
                        Description of Goods/Commodity</label>
                    <select class="form-select form-select-sm flex-grow-1">
                        <option selected disabled>Select</option>
                        <option>ATF (Aviation Turbine Fuel)</option>
                        <option>Diesel</option>
                        <option>Liquor Fit For Human Consumption</option>
                        <option>Natural Gases</option>
                        <option>Petrol</option>
                        <option>Petroleum Crude</option>
                    </select>
                </div>
            </div>


            <div class="row g-2 mb-3 justify-content-center">
                <div class="col-auto text-center">
                    <button type="button" class="btn btn-primary me-2">Save</button>
                    <button type="button" class="btn btn-secondary me-2">Clear</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

        <!-- Section 5 -->
        <div class="border p-3 bg-light">
            <h6 class="bg-primary text-white p-2 rounded">3. For use in packing of
                goods
                specified
                in entries at Serials 1 to 4 above, as the case may be</h6>

            <div class="table-responsive mb-2">
                <table class="table table-bordered table-sm text-center align-middle">
                    <thead class="table-primary">
                        <tr>
                            <th>Select</th>
                            <th>View / Edit</th>
                            <th>Sr. No.</th>
                            <th>Name and Description of Goods/Commodity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">No content in table</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row g-2 mb-3">
                <div class="col-md-6 d-flex align-items-center">
                    <label class="form-label me-2 mb-0" style="white-space: nowrap;">Name
                        and
                        Description of Goods/Commodity</label>
                    <select class="form-select form-select-sm flex-grow-1">
                        <option selected disabled>Select</option>
                        <option>ATF (Aviation Turbine Fuel)</option>
                        <option>Diesel</option>
                        <option>Liquor Fit For Human Consumption</option>
                        <option>Natural Gases</option>
                        <option>Petrol</option>
                        <option>Petroleum Crude</option>
                    </select>
                </div>
            </div>

            <div class="row g-2 mb-3 justify-content-center">
                <div class="col-auto text-center">
                    <button type="button" class="btn btn-primary me-2">Save</button>
                    <button type="button" class="btn btn-secondary me-2">Clear</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-outline-primary">Validate Annexure III</button>
        </div>
    </fieldset>
</div>
</section>