<section>
    <!-- (19) Contact Details of the Business -->
    <fieldset class="border p-3 mb-4">
        <legend class="w-auto px-2">(19) Contact Details of the Business
        </legend>

        <div class="row mb-2">
            <div class="col-md-3">
                <label for="telephone1" class="form-label">Telephone No.
                    (1)</label>
            </div>
            <div class="col-md-3">
                <input type="tel" id="telephone1" class="form-control form-control-sm" placeholder="+91">
            </div>
            <div class="col-md-3">
                <label for="telephone2" class="form-label">Telephone No.
                    (2)</label>
            </div>
            <div class="col-md-3">
                <input type="tel" id="telephone2" class="form-control form-control-sm" placeholder="+91">
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-3">
                <label for="faxNo" class="form-label">FAX No.</label>
            </div>
            <div class="col-md-3">
                <input type="tel" id="faxNo" class="form-control form-control-sm" placeholder="+91">
            </div>
            <div class="col-md-3">
                <label for="mobileNo" class="form-label">Mobile No.<span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
                <input type="tel" id="mobileNo" class="form-control form-control-sm" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="emailId" class="form-label">Email Id<span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
                <input type="email" id="emailId" class="form-control form-control-sm" required>
            </div>
        </div>
    </fieldset>
</section>
<!-- <p>business-contacts works!</p> -->