<!-- <p>commodity-details works!</p> -->
<section>
    <!-- (7) Commodities -->
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <label class="form-label mb-0" style="width: 30%;">
            (7) Four Principal Commodities which the Business deals in <span class="text-danger">*</span>
        </label>

        <div class="d-flex justify-content-between" style="width: 70%; gap: 0.5rem;">
            <select class="form-select form-select-sm commodity-select" id="commodity1" required></select>
            <select class="form-select form-select-sm commodity-select" id="commodity2" required></select>
            <select class="form-select form-select-sm commodity-select" id="commodity3" required></select>
            <select class="form-select form-select-sm commodity-select" id="commodity4" required></select>
        </div>
    </div>
</section>